:root {
    --gradiente: linear-gradient(0deg, rgba(233,167,18,1) 0%, rgba(250,218,68,1) 70%, rgba(255,231,89,1) 86%);
    --fuente-titulos:'Russo One', sans-serif;
    --primary-color-1: rgb(233,167,18);
    --primary-color-2: #CC9106;
    --primary-color-3: #F7BB2F;
    --primary-color-4: #DB9A02;

    --white: #F2F5F5;
    --black: #2E1F00;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    height: 100%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(233,167,18);
    background-position-y: 150px;
    background: var(--gradiente);
}
/*---------------
-----HEADER------
-----------------*/
header {
    width: 100%;
    padding: 50px 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1 {
    margin-bottom: 20px;
    font-family: var(--fuente-titulos);
    text-transform: uppercase;
}
header>p {
    background-color: var(--white);
    grid-column: 2/6;
    padding: 10px;
    text-align: center;
    box-shadow: inset 0px 0px 10px var(--primary-color-4);
}
/*-----------------
---------MAIN------
------------------*/
main {
    max-width: 900px;
    margin:0 auto;
    padding: 30px;
    padding-top: 0;
    display: grid;
    /* grid-template-columns: repeat(4,minmax(60px, 0.5fr)); */
    /* grid-template-rows: 50px repeat(5, 120px); */
    gap: 30px;
    justify-content: center;
}
main section:first-of-type {
    /* grid-column: 1/4;
    grid-row: 2/4; */
    /* grid-area: 2/1/4/3; */
}
main section:nth-of-type(2) {
    /* grid-column: 4/7;
    grid-row: 2/4; */
    /* grid-area: 2/3/4/5; */
}
main section:nth-of-type(3) {
    /* grid-column: 2/6;
    grid-row: 4/5; */
}
/*------------------
---------boxes------
-------------------*/
main .box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 30px 68px var(--primary-color-2), inset -0px -10px 16px var(--primary-color-3);
}
main .box h2 {
    font-size: 2.4rem;
    margin-bottom: 15px;
}
main .box form {
    display: flex;
    flex-direction: column;
}
main .box:nth-of-type(3) form label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}
main .box form label {
    font-size: 1.8rem;
    margin-bottom: 15px;
}
main .box form input {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 2rem;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
} 
.box span {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.box button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    font-family: var(--fuente-titulos);
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: var(--primary-color-1);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
}
.box button:active {
    background-color: var(--primary-color-4);
}

@media(min-width:790px){
    main section:first-of-type {
        grid-column: 1/4;
        grid-row: 2/4;
        /* grid-area: 2/1/4/3; */
    }
    main section:nth-of-type(2) {
        grid-column: 4/7;
        grid-row: 2/4;
        /* grid-area: 2/3/4/5; */
    }
    main section:nth-of-type(3) {
        grid-column: 2/6;
        grid-row: 4/5;
    }
    main .box {
        padding: 50px;
    }
}